<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
      
          .fontError {
            font-family: "Allerta Stencil", sans-serif !important;
            font-weight: 400 !important;
            font-style: normal !important;
          }
        </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">track360</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <%= name %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/gov/admin">Dashboard</a></li>
                            <li><a class="dropdown-item" href="/gov/admin/addUser">Add Users</a></li>
                            <li><a class="dropdown-item" href="/logout">LogOut</a></li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">GovAdmin Dashboard</a>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-4">
        <% for( let index = 0; index < projectNames.length; index++ ) { %>
            <div class="card my-4">
                <div class="card-header">
                <%= projectNames[index] %> <%= projectIds[index] %>
                </div>
                <div class="card-body">
                <!-- <h5 class="card-title"></h5> -->
                <p class="card-text">Project Description - <%= projectDescriptions[index] %></p>
                <a href="/gov/admin/addUser/project/<%= projectIds[index] %>" class="btn btn-primary">Assign Users To Project</a>
                </div>
            </div>
        <% } %>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>