<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
      
          .fontError {
            font-family: "Allerta Stencil", sans-serif !important;
            font-weight: 400 !important;
            font-style: normal !important;
          }
        </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">track360</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <%= name %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/gov/admin/addUser">Add Users</a></li>
                            <li><a class="dropdown-item" href="/logout">LogOut</a></li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Project Id - <%= projectId %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">GovAdmin</a>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-4">

        
      <% if (typeof status !== 'undefined') { %>
        <% if (status === 'SUCCESS') { %>
            <div class="alert alert-success alert-dismissible fade show fontError" role="alert">
                <strong><%= status %></strong> -> <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } else if (status === 'ERROR') { %>
            <div class="alert alert-danger alert-dismissible fade show fontError" role="alert">
                <strong><%= status %></strong> -> <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
    <% } %>
    
        <form method="post" action="/gov/admin/addUser/project/<%= projectId %>">

          <h3>Add Users ...</h3>  

          <label>Gov QA emails</label>
          <div class="form-group my-4"></div>
            <div id="govEmails">
                <input 
                    type="email" 
                    class="form-control my-4" 
                    name="govQA_email[]" 
                    placeholder="Enter Gov QA Email">
            </div>
            <button type="button" class="btn btn-secondary" onclick="addEmailField('govEmails', 'govQA_email[]')">Add More</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          
          
        </form>
      </div>


        <script>
            function addEmailField(containerId, fieldName) {
                const container = document.getElementById(containerId);
                const input = document.createElement('input');
                input.type = 'email';
                input.name = fieldName;
                input.placeholder = 'Enter Gov QA Email';
                input.classList.add('form-control', 'my-4');
                container.appendChild(input);
            }
        </script>

   


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>